.game {
  position: absolute;
  color: var(--txt-color);
  width: 100%;
  max-width: 600px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.board-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.line {
  display: flex;
  flex-direction: row;
}

.success {
  margin-top: 1.5rem;
  text-align: center;
}

.header {
  font-size: xx-large;
}

/* Style buttons */
.btn {
  background-color: rgb(70, 255, 116); /* Blue background */
  border: none; /* Remove borders */
  color: rgb(53, 53, 53); /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
  color: white;
}
