.tile {
  display: flex !important;
  height: 3em;
  width: 3em;
  background-color: rgb(36, 36, 36);

  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 0.25rem;
}
.open {
  background-color: rgb(255, 93, 93);
}

.solved {
  background-color: rgb(78, 255, 107);
}
